# OS files
Thumbs.db
.DS_Store

# Editors
.vscode/
.idea/

# Node / JS
node_modules/
dist/
build/
coverage/
.next/

# Logs and temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*

# Misc
.tmp/
.sass-cache/
